<div class="modal-body">
  <div class="row g-3 justify-content-center">

    <!-- Adet Dropdown-->
    <div class="mb-3 col-md-3 col-3 border p-3 rounded-4 shadow border-hover-effect mx-1">
      <label for="pointSelect" class="form-label">Adet</label>
      <select id="pointSelect" class="form-select" >
      </select>
    </div>

    <!-- Zorluk Dropdown -->
    <div class="mb-3 col-md-4 col-3 border p-3 rounded-4 shadow border-hover-effect mx-1 ">
      <label for="difficultySelect" class="form-label">Zorluk</label>
      <select id="difficultySelect" class="form-select">
        <option value="Kolay">Kolay</option>
        <option value="Orta">Orta</option>
        <option value="Zor">Zor</option>
      </select>
    </div>

    <!-- Puan Dropdown -->
    <div class="mb-3 col-md-4 col-3 border p-3 rounded-4 shadow border-hover-effect mx-1">
      <label for="pointSelect" class="form-label">Puan</label>
      <select id="pointSelect" class="form-select" >
      </select>
    </div>
    
    
    
<button class="btn btn-secondary" (click)="closeModal()">Kapat</button>
